include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/colaboradores *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/colaboradores/migration *.ini *.py *.mako
